<div class="container"  style="background-color: #F7F8E7;" >
    <div class="row">
    <div class="col-sm-12">
    <h1>Change Password</h1>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    <p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>
    <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
    <input type="password" class="input-lg form-control" formControlName="passwordold" id="password1" placeholder="Old Password" autocomplete="off"><br>
    <input type="password" class="input-lg form-control" formControlName="passwordnew" id="password2" placeholder="New Password" autocomplete="off"><br>
    <div class="row">
    </div>
    <input type="submit" class=" btn btn-primary " data-loading-text="Changing Password..." value="Change Password">
    </form>
    </div>
    </div>
    </div>