<h3 class="heading">Sales Invoice List</h3>
<div class="marginbound ">
    <div class="row heading">
      <div class="col-md-8">
        <button class="btn btn-success succes" (click)="exportTable()">
          <i class="fa fa-file-excel-o" aria-hidden="true"></i>
          Export To Excel</button>
      </div>
      <div class="col-md-4">
        <div class="form-group form-group-1 has-feedback has-search">
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
          <input class="searchbox" placeholder="Search" type="text" class="form-control"
            (keyup)="applyFilter($event.target.value)">
        </div>
      </div>
    </div>
    <div class="row heading">
        <div class="col-md-2">
          <mat-radio-group aria-label="Select an option" (change)="RadiofilterData($event)">
            <mat-radio-button value="1" [checked]="true">All Invoice</mat-radio-button>
            <mat-radio-button class="succes" value="2">My Invoice</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-md-2">
          <form [formGroup]="updateForm">
            <select class="form-control" formControlName="filterstatus" (change)="filterData()">
              <option value="" disabled>Please Select Status</option>
              <option value="All">All</option>
              <option value={{statusResponse.poStatusCode}} *ngFor="let statusResponse of statusResponses">
                {{statusResponse.poStatusDesc}}</option>
            </select>
          </form>
        </div>
      </div>
      <br />
<mat-card>
    <div class="table-responsive ">
      <table mat-table id="SalesInvoiceTable" class="table table-bordered hoverTable" [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="invoiceNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice No</th>
          <td mat-cell *matCellDef="let element"> <a href="/home/purchase-order?PONo={{element.invoiceNo}}"
              target="_blank">{{element.invoiceNo}}</a> </td>
        </ng-container>
        <ng-container matColumnDef="invoiceDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Date</th>
            <td mat-cell *matCellDef="let element"> {{element.invoiceDate | date: 'dd/MM/yyyy'}} </td>
          </ng-container>
        <ng-container matColumnDef="projectNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Project No</th>
          <td mat-cell *matCellDef="let element"> {{element.projectNo}} </td>
        </ng-container>
        <ng-container matColumnDef="customerCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer Code</th>
          <td mat-cell *matCellDef="let element"> {{element.customerCode}} </td>
        </ng-container>
       
        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</th>
          <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
        </ng-container>
        <ng-container matColumnDef="billingCustomerCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Billing Customer Code</th>
          <td mat-cell *matCellDef="let element"> {{element.billingCustomerCode}} </td>
        </ng-container>
        <ng-container matColumnDef="billedCustomerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Billed Customer Name</th>
          <td mat-cell *matCellDef="let element"> {{element.billedCustomerName}} </td>
        </ng-container>
        <ng-container matColumnDef="billingContact">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Billing Contact</th>
          <td mat-cell *matCellDef="let element"> {{element.billingContact}} </td>
        </ng-container>
        <ng-container matColumnDef="bank">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bank</th>
          <td mat-cell *matCellDef="let element"> {{element.bank}} </td>
        </ng-container>
        <ng-container matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Currency</th>
          <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
        </ng-container>
        <ng-container matColumnDef="totalInvoiceValue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Invoice Value</th>
          <td mat-cell *matCellDef="let element"> {{element.totalInvoiceValue}} </td>
        </ng-container>
        <ng-container matColumnDef="totalInvoiceValueLCY">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Invoice Value LCY</th>
          <td mat-cell *matCellDef="let element"> {{element.totalInvoiceValueLCY}} </td>
        </ng-container>
        <ng-container matColumnDef="totalPaidAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Paid Amount</th>
          <td mat-cell *matCellDef="let element"> {{element.totalPaidAmount}} </td>
        </ng-container>
        <ng-container matColumnDef="totalPaidAmountLCY">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Paid Amount LCY</th>
          <td mat-cell *matCellDef="let element"> {{element.totalPaidAmountLCY}} </td>
        </ng-container>
        <ng-container matColumnDef="paymentTermsCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Terms Code</th>
          <td mat-cell *matCellDef="let element" > {{element.paymentTermsCode}} </td>
        </ng-container>
        <ng-container matColumnDef="paymenMethod">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Paymen Method</th>
          <td mat-cell *matCellDef="let element"> {{element.paymenMethod}} </td>
        </ng-container>
        <ng-container matColumnDef="taxCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tax Code</th>
          <td mat-cell *matCellDef="let element"> {{element.taxCode}} </td>
        </ng-container>
        <ng-container matColumnDef="vatPercentage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Vat Percentage</th>
          <td mat-cell *matCellDef="let element"> {{element.vatPercentage}} </td>
        </ng-container>
        <ng-container matColumnDef="vatAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Vat Amount</th>
          <td mat-cell *matCellDef="let element"> {{element.vatAmount}} </td>
        </ng-container>
        <ng-container matColumnDef="vatAmountLCY">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Vat Amount LCY</th>
          <td mat-cell *matCellDef="let element"> {{element.vatAmountLCY}} </td>
        </ng-container>
        <ng-container matColumnDef="sI_CNOTE">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SI CNOTE</th>
          <td mat-cell *matCellDef="let element"> {{element.sI_CNOTE}} </td>
        </ng-container>
        <ng-container matColumnDef="sI_COUNT">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SI COUNT</th>
          <td mat-cell *matCellDef="let element"> {{element.sI_COUNT }} </td>
        </ng-container>
       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="center">
        <!-- <span>Please Wait.... -->
        <mat-spinner *ngIf="showSpinner" mode="indeterminate" value="100">
        </mat-spinner>
        <!-- </span> -->
      </div>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 20, 30, 100, dataSource?.data?.length]" showFirstLastButtons></mat-paginator>
  </mat-card>