
  table {
    width: 100%;
    background-color: #F7F8E7;
  }
  
  .marginbound{
    margin: 24px;
  }
 
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  mat-card{
    background-color: #F7F8E7;
    white-space: nowrap;
    display: grid;
  }
 
  .heading {
    margin-top: 0px;
    margin-left: 25px;
  }
  .searchbox{
    width:300px;
    height:30px;
  }
  .has-search .form-control-feedback {
    right: initial;
    left: 0;
    color: #ccc;
}

.has-search .form-control {
    padding-right: 12px;
    padding-left: 34px;
}
.form-group{
  margin-right: 1rem;
  float: right;
  width: 100%;
}
.form-group-1{
  width: 100% !important;
}
.table-bordered-1
th,td
{
  border: 1px solid lightgrey !important;
  padding: 10px;
}

.hoverTable tr:hover {
    background-color:rgb(138, 138, 87);
    }
    .center {
      background-color:white;
      position: absolute;
      top: 70%;
      left: 50%;
      /* -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); */
  }
  .mat-button
  {
    min-width: 0;
    border: solid;
    line-height: 0px;
    padding: 0px;
  }